/*@mixin fontface ($name, $path, $weight: null, $style) {
    $src: url(quote($path));
    @font-face {
		font-family: quote($name);
        font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@include fontface("Spartan", "https://fonts.google.com/specimen/Spartan", 400, normal);
@include fontface("Spartan", "https://fonts.google.com/specimen/Spartan", 500, normal);
@include fontface("Spartan", "https://fonts.google.com/specimen/Spartan", 700, normal); 
*/
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

$Dark-Grayish-Magenta: hsl(303, 10%, 53%); 
$Light-Grayish-Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);
$Very-Dark-Magenta: hsl(300, 43%, 22%);
$Soft-Pink: hsl(333, 80%, 67%);

$screen-xl-max: 1440px;
$screen-m-max: 1100px;
$screen-m: 376px;
$screen-sm-max: 1438px;
$screen-sm-min: 425px;

%borderline {
  border: 1px solid #ccc;
}

%flex {
  flex:auto;
  width: 100%;
}

@mixin sm {
   @media screen and (max-width: #{$screen-sm-min}) {
       @content;
   }
}

@mixin m {
   @media screen and (min-width: #{$screen-m}) {
       @content;
   }
}
@mixin m-max {
   @media screen and (max-width: #{$screen-m-max}) {
       @content;
   }
}


@mixin xl-max {
   @media screen and (max-width: #{$screen-xl-max}) {
       @content;
   }
}

@mixin xl {
   @media screen and (min-width: #{$screen-m-max}) {
       @content;
   }
}

@mixin sm-max {
   @media screen and (max-width: #{$screen-sm-max}) {
       @content;
   }
}
  
* {
    box-sizing: border-box;
  }
body {
	font-family: 'Spartan', sans-serif;	
	font-size: 15px;
	flex-direction: column;
	margin: 0;
}

.container {
    border-color: yellow;

}

.screenDisplay {
	display: flex;
	
	
}

@include xl {
	body{
	
	background-image: url('../../images/bg-pattern-bottom-desktop.svg');
	background-position:   top 110px right 1px;
	background-repeat: no-repeat;
	}
}
@include m-max {
	body{
	
	background-image: url('../../images/bg-pattern-bottom-desktop.svg');
	background-position: 90% 220%;
	background-repeat: no-repeat;
	}
}

@include sm {
	.screenDisplay {
	flex-direction: column;
	}
	body{
	
	background-image: url('../../images/bg-pattern-bottom-mobile.svg');
	background-position-y:  698px;
	background-position-x:  -541px;
	background-repeat: no-repeat;
	background-size: cover;
	}
}